@font-face {
    font-family: "IRANSans";
    src: url("../fonts/IRANSans/IRANSans.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/IRANSans/IRANSans_Medium.ttf") format("truetype");
}


